include ../layout

block content

link(rel='stylesheet', href='/stylesheets/profile.css')
div.user-info
  img.big-image(src="#{user.photo_link}")
  p.users-name.user-info-text= user.first_name + " " + user.last_name 
  p.users-score.user-info-text= "score: " + user.total_score
div.user-picks  
  div.indiv-picks
    each movieVote, index in movieVotes
      div.moviePick
            h4.movie-title #{index} : #{movieVote.name}
            img.movieImgs(src='http://image.tmdb.org/t/p/w185'+ movieVote.photo_link height='400px' width='150px')
