extends ../layout

block content
  script(src='../../../public/javascripts/populateMovies.js')

  script.
    function populate() {
      var results = populateMovies();
      console.log('results = ', results);
    }

  div.grid
    div.box
      img(src="../#{user.photo_link}")
    div.box
      for movie in 
      ul
        li #{moviePick1}
          p #{}
        li #{moviePick2}
        li #{moviePick3}
        li #{moviePick4}
        li #{moviePick5}
    div.box
    div.box
